@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
    background-color: white;
  }

  .dark {
    color-scheme: dark;
    background-color: black;
  }
}

* {
  transition-property: opacity;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html, body {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: inherit;
  contain: content;
}

body {
  color: black;
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
  contain: content;
}

.dark body {
  color: white;
}

@media (max-width: 768px) {
  body {
    scrollbar-width: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .falling-light {
    display: none;
  }
}

@keyframes fall {
  0% { 
    transform: translate3d(0, -50vh, 0);
  }
  100% { 
    transform: translate3d(0, 150vh, 0);
  }
}

:root {
  --overscroll: #ffffff;
}

[data-theme="dark"] {
  --overscroll: #000000;
}