@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
    background-color: white;
  }

  .dark {
    color-scheme: dark;
    background-color: black;
  }
}

*, 
*::before, 
*::after {
  transition: background-color 500ms ease-in-out,
              border-color 500ms ease-in-out,
              color 500ms ease-in-out,
              fill 500ms ease-in-out,
              stroke 500ms ease-in-out,
              opacity 500ms ease-in-out;
}

html.js-loading * {
  opacity: 0;
}

html, body {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: inherit;
  contain: content;
}

body {
  color: black;
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
  contain: content;
}

.dark body {
  color: white;
}

@media (max-width: 768px) {
  body {
    scrollbar-width: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

:root {
  --overscroll: #ffffff;
}

[data-theme="dark"] {
  --overscroll: #000000;
}